/*========================================
=            Gift certificate            =
========================================*/

.gift-image {
    color: #CCC;
    font-size: 33px;
    display: block;
}

/*=====  End of Gift certificate  ======*/