/*================================
=            Wishlist            =
================================*/

.wishlist {}

.wishlist-remove-item {
    text-align: center;
    padding-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
}

.grid-thumbnail:hover .wishlist-remove-item {
    opacity: 1;
    visibility: visible;
}

/*=====  End of Wishlist  ======*/
